<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="../css/about-us.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      <header>
        <div class="logo">
          <a href="../../index.html"><img src="../../img/logo.jpg" alt="logo" /></a>
        </div>
        <div class="nav">
          <ul>
            <li>
              <a href="../../index.html">Home</a>
            </li>
            <li>
              <a href="./koleksi.html">Collection</a>
            </li>
            <li>
              <a href="#">About Us</a>
            </li>
          </ul>
        </div>
      </header>

      <!-- Link -->
      <div class="links">
        <div class="linkss">
          <h1>ABOUT</h1>
          <div class="link">
            <a href="../../index.html">Home / </a>
            <a href="#">About</a>
          </div>
        </div>
      </div>

      <main>
        <!-- Section 1 -->
        <section class="section1">
          <div class="poster"></div>
          <div class="about">
            <h2>TENTANG SHOES COMPANY</h2>
            <p>Shoes Company telah hadir untuk memenuhi kebutuhan sepatu kita. Berdiri sejak 1950 dan telah memiliki lebih dari 50 cabang di seluruh indonesia. "Good Shoes makes a good life"</p>
          </div>
          <div class="caption">
            <h2>Best Shoes Store</h2>
            <p>
              Shoes Company adalah toko yang telah memiliki 70 cabang di seluruh indonesia. Kualitas Sepatu yang dijual sudah bersertifikat internasional dan memiliki banyak varian. Di masa pandemi sekarang penjualan sepatu dan pakaian lebih efektif dilakukan online sehingga website seperti ini dibutuhkan oleh masyarakat Indonesia.
            </p>
            <br />
            <p>
              Telah mendapatkan beberapa penghargaan seperti Best Shoes Store 2019, Breakthrough Shoes Store 2018, serta beberapa penghargaan dari festival sepatu terkenal se-Indonesia. 
            </p>
          </div>
        </section>

        <!-- Section 2 -->
        <section class="section2">
          <div class="title-section2">
            <h2>LIVE LIFE TO THE FULLEST</h2>
            <h3>Life is 20% what happens to us and 80% how we react to it</h3>
            <p>
              Quisque volutpat mattis eros. Nullam malesuada erat ut ki diaml ka dhuddu pochu turpis. Suspendisse urna nibh,viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor
              mauris
            </p>
          </div>
          <div class="fitures">
            <div class="fitur1">
              <img src="../../img/fitur1.PNG" alt="" />
              <div class="teks-fitur">
                <h3>Get committed to a new lifestyle</h3>
                <p>Aenean dignissim pellentesque felis. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
              </div>
            </div>
            <div class="fitur2">
              <img src="../../img/fitur2.PNG" alt="" />
              <div class="teks-fitur">
                <h3>Get into shape by exercising</h3>
                <p>Aenean dignissim pellentesque felis. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
              </div>
            </div>
            <div class="fitur3">
              <img src="../../img/fitur3.PNG" alt="" />
              <div class="teks-fitur">
                <h3>Rebuild your wardrobe</h3>
                <p>Aenean dignissim pellentesque felis. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
              </div>
            </div>
            <div class="fitur4">
              <img src="../../img/fitur4.PNG" alt="" />
              <div class="teks-fitur">
                <h3>Take time off to cool off</h3>
                <p>Aenean dignissim pellentesque felis. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
              </div>
            </div>
            <div class="fitur5">
              <img src="../../img/fitur5.PNG" alt="" />
              <div class="teks-fitur">
                <h3>Learn to enjoy your life</h3>
                <p>Aenean dignissim pellentesque felis. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
              </div>
            </div>
            <div class="fitur6">
              <img src="../../img/fitur6.PNG" alt="" />
              <div class="teks-fitur">
                <h3>Soar into the sky</h3>
                <p>Aenean dignissim pellentesque felis. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
              </div>
            </div>
          </div>
        </section>
      </main>

      <!-- footer -->
      <footer>
        <div class="logo">
            <img src="../../img/logo.jpg" alt="logo">
        </div>
        <div class="copy">Copyright &copy 2021 by Octavianus Fian</div>
        <div class="sosmed">
            <a href="#">
                <img src="../../img/Group 9.png" alt="">
            </a>
            <a href="#">
                <img src="../../img/Group 10.png" alt="">
            </a>
            <a href="#">
                <img src="../../img/Group 11.png" alt="">
            </a>
            <a href="#">
                <img src="../../img/Group 12.png" alt="">
            </a>
        </div>
    </footer>
    </div>
  </body>
</html>
