<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Men's Running Shoes</title>
    <link rel="stylesheet" href="../css/koleksi-sepatu.css" />
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      <header>
        <div class="logo">
          <a href="../../index.html"><img src="../../img/logo.jpg" alt="logo" /></a>
        </div>
        <div class="nav">
          <ul>
            <li>
              <a href="../../index.html">Home</a>
            </li>
            <li>
              <a href="./koleksi.html">Collection</a>
            </li>
            <li>
              <a href="./about-us.html">About Us</a>
            </li>
          </ul>
        </div>
      </header>
      <!-- Header -->

      <!-- Link -->
      <div class="links">
        <div class="linkss">
          <h1>New Men's Running Shoes</h1>
          <div class="link">
            <a href="./home.html">Home / </a>
            <a href="#">Hiking Boots / </a>
            <a href="#">New Men’s Running Shoes</a>
          </div>
        </div>
      </div>
      <!-- Link -->

      <!-- Konten -->
      <section class="section">
        <div class="konten1">
          <div class="foto">
            <img class="fotoUtama" src="../../img/image 5.png" alt="" />
            <div class="fotoLainnya">
              <img src="../../img/image 8.png" alt="" />
              <img src="../../img/image 9.png" alt="" />
              <img src="../../img/image 10.png" alt="" />
            </div>
          </div>
          <div class="detail">
            <h2 style="font-size: 36px">New Men's Running Shoes</h2>
            <img class="rate" src="../../img/rate.png" alt="" />
            <p style="font-size: 14px; margin-bottom: 30px">
              Hanya ada sepatu lari terbaik untuk Anda. Karena setiap pelari unik dalam seberapa banyak mereka berlatih, dan seperti apa gaya lari mereka, tidak ada sepatu lari yang "sempurna". Sepatu lari terbaik untuk Anda sepenuhnya bergantung pada bentuk kaki Anda, bio-mekanik Anda, dan jumlah lari yang Anda lakukan. Sepatu lari dirancang untuk melindungi kaki Anda dari jalan, memberikan traksi pada permukaan yang berbeda, meredam guncangan saat mendarat, dan menopang kaki Anda. Tidak terlalu banyak untuk bertanya, atau itu?
            </p>

            <div class="order">
              <div class="title">
                <h4>Effective Price :</h4>
                <h4>Brand :</h4>
                <h4>Availability :</h4>
              </div>
              <div class="value">
                <p>$300.00</p>
                <p>Bontoni</p>
                <p style="color: green">Many in stock</p>
              </div>
            </div>

            <div class="garis"></div>

            <div class="order">
              <div class="title2">
                <h4>size</h4>
                <h4>color</h4>
                <h4>material</h4>
                <h4>quantity</h4>
                <h4>subtotal</h4>
              </div>
              <div class="value">
                <div class="radio">
                  <input type="radio" name="size" id="7" />
                  <label for="7">7</label>
                  <input type="radio" name="size" id="8" />
                  <label for="8">8</label>
                  <input type="radio" name="size" id="9" />
                  <label for="9">9</label>
                </div>
                <div class="kotak-warna"></div>
                <div class="material">
                  <input type="radio" name="material" id="plastic" />
                  <label for="plastic">plastic</label>
                </div>
                <p style="font-size: 20px">$300.00</p>
              </div>
            </div>

            <div class="buttons">
              <button class="button">
                <p>ADD TO CHART</p>
              </button>
              <button class="button">
                <p>BUY IT NOW</p>
              </button>
              <button class="button">
                <p>ADD TO WISHLIST</p>
              </button>
            </div>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="judul-section2">
          <h3 style="color: #671E81;">Description</h3>
          <h3>Reviews</h3>
          <h3>Shipping Details</h3>
        </div>

        <div class="garis2">

        </div>

        <p style="margin-top: 40px;">Sepatu berbahan suede ini cocok digunakan untuk kuliah karena memiliki style sneakers vans sehingga cocok digunakan anak kekinian. Memiliki 3 varian warna yaitu biru, cokelat, dan abu-abu muda. Berbahan suede kulit hewan pilihan sehingga dijamin kuat dan nyaman ketika dipakai jangka waktu lama. Kekurangan nya terletak di tahan kurang air, jadi jika ada kegiatan dengan air maka sepatu ini kurang cocok tetapi selebihnya sepatu ini cocok untuk anak muda maupun orang tua keliatan keren dan modish.</p>
      </section>
      <!-- Akhir Konten -->

      <!-- footer -->
      <footer>
        <div class="logo">
          <img src="../../img/logo.jpg" alt="logo" />
        </div>
        <div class="copy">Copyright &copy 2021 by Octavianus Fian</div>
        <div class="sosmed">
          <a href="#">
            <img src="../../img/Group 9.png" alt="" />
          </a>
          <a href="#">
            <img src="../../img/Group 10.png" alt="" />
          </a>
          <a href="#">
            <img src="../../img/Group 11.png" alt="" />
          </a>
          <a href="#">
            <img src="../../img/Group 12.png" alt="" />
          </a>
        </div>
      </footer>
    </div>
  </body>
</html>
