<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/koleksi.css" />
    <title>Koleksi</title>
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      <header>
        <div class="logo">
          <a href="../../index.html"><img src="../../img/logo.jpg" alt="logo" /></a>
        </div>
        <div class="nav">
          <ul>
            <li>
              <a href="../../index.html">Home</a>
            </li>
            <li>
              <a href="./koleksi.html">Collection</a>
            </li>
            <li>
              <a href="./about-us.html">About Us</a>
            </li>
          </ul>
        </div>
      </header>

      <!-- Link -->
      <div class="links">
        <div class="linkss">
          <h1>ABOUT</h1>
          <div class="link">
            <a href="./home.html">Home / </a>
            <a href="#">tab Koleksi</a>
          </div>
        </div>
      </div>

      <!-- list -->
      <section class="section1">
        
        <div class="list1 list">
          <img src="../../img/image 1.png" alt="" />
          <div class="price">
            <h3>Chukkas</h3>
            <p>4 items</p>
            <button><a href="./koleksi-sepatu2.html">View More</a> </button>
          </div>
        </div>

        <div class="list2 list">
          <img src="../../img/image 2.png" alt="" />
          <div class="price">
            <h3>Canvas Shoe</h3>
            <p>4 items</p>
            <button><a href="./koleksi-sepatu3.html">View More</a> </button>
          </div>
        </div>

        <div class="list3 list">
          <img src="../../img/image 3.png" alt="" />
          <div class="price">
            <h3>Sport Shoes</h3>
            <p>4 items</p>
            <button><a href="./koleksi-sepatu3.html">View More</a> </button>
          </div>
        </div>

        <div class="list4 list">
          <img src="../../img/image 4.png" alt="" />
          <div class="price">
            <h3>Pantofel</h3>
            <p>4 items</p>
            <button><a href="./koleksi-sepatu2.html">View More</a> </button>
          </div>
        </div>

        <div class="list5 list">
          <img src="../../img/image 5.png" alt="" />
          <div class="price">
            <h3>Suede Shoes</h3>
            <p>4 items</p>
            <button><a href="./koleksi-sepatu1.html">View More</a></button>
          </div>
        </div>

        <div class="list6 list">
          <img src="../../img/image 6.png" alt="" />
          <div class="price">
            <h3>Rubber</h3>
            <p>4 items</p>
            <button><a href="./koleksi-sepatu1.html">View More</a> </button>
          </div>
        </div>
      </section>

      <!-- footer -->
      <footer>
        <div class="logo">
            <img src="../../img/logo.jpg" alt="logo">
        </div>
        <div class="copy">Copyright &copy 2021 by Octavianus Fian</div>
        <div class="sosmed">
            <a href="#">
                <img src="../../img/Group 9.png" alt="">
            </a>
            <a href="#">
                <img src="../../img/Group 10.png" alt="">
            </a>
            <a href="#">
                <img src="../../img/Group 11.png" alt="">
            </a>
            <a href="#">
                <img src="../../img/Group 12.png" alt="">
            </a>
        </div>
    </footer>
    </div>
  </body>
</html>
