<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Men's Running Shoes</title>
    <link rel="stylesheet" href="../css/koleksi-sepatu.css" />
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      <header>
        <div class="logo">
            <a href="../../index.html"><img src="../../img/logo.jpg" alt="logo" /></a>
        </div>
        <div class="nav">
          <ul>
            <li>
              <a href="../../index.html">Home</a>
            </li>
            <li>
              <a href="./koleksi.html">Collection</a>
            </li>
            <li>
              <a href="./about-us.html">About Us</a>
            </li>
          </ul>
        </div>
      </header>
      <!-- Header -->

      <!-- Link -->
      <div class="links">
        <div class="linkss">
          <h1 style="margin-left: 10px;">BAST SHOE</h1>
          <div class="link">
            <a href="./home.html">Home / </a>
            <a href="#">Chukkas / </a>
            <a href="#">BAST SHOE</a>
          </div>
        </div>
      </div>
      <!-- Link -->

      <!-- Konten -->
      <section class="section">
        <div class="konten1">
          <div class="foto">
            <img class="fotoUtama"  src="../../img/sport1.jpg" alt="" />
            <div class="fotoLainnya">
              <img src="../../img/sport2.jpg" alt="" />
              <img src="../../img/sport3.jpg" alt="" />
              <img src="../../img/sport4.jpg" alt="" />
            </div>
          </div>
          <div class="detail">
            <h2 style="font-size: 36px">BAST SHOE</h2>
            <img class="rate" src="../../img/rate.png" alt="" />
            <p style="font-size: 14px; margin-bottom: 30px">
                Sepatu kulit pohon adalah sepatu yang dibuat terutama dari kulit pohon — serat yang diambil dari kulit pohon seperti linden. Mereka adalah sejenis keranjang, dianyam dan dipasang dengan bentuk kaki. Sepatu kulit pohon adalah alas kaki tradisional usang dari kawasan hutan Eropa Utara, yang sebelumnya dipakai oleh anggota masyarakat Finnic, Balt, Rusia, Ukraina, dan Belarusia yang lebih miskin. Mereka mudah dibuat, tetapi tidak tahan lama. Sepatu serupa juga dibuat dari kulit kayu birch di lebih banyak wilayah utara di mana kulit pohon tidak tersedia.
            </p>

            <div class="order">
              <div class="title">
                <h4>Effective Price :</h4>
                <h4>Brand :</h4>
                <h4>Availability :</h4>
              </div>
              <div class="value">
                <p>$160.00</p>
                <p>Atletica</p>
                <p style="color: orange">In Stock</p>
              </div>
            </div>

            <div class="garis"></div>

            <div class="order">
              <div class="title2">
                <h4>size</h4>
                <h4>color</h4>
                <h4>material</h4>
                <h4>quantity</h4>
                <h4>subtotal</h4>
              </div>
              <div class="value">
                <div class="radio">
                  <input type="radio" name="size" id="7" />
                  <label for="7">7</label>
                  <input type="radio" name="size" id="8" />
                  <label for="8">8</label>
                  <input type="radio" name="size" id="9" />
                  <label for="9">9</label>
                </div>
                <div class="kotak-warna" style="background-color: yellow;"></div>
                <div class="material">
                  <input type="radio" name="material" id="plastic" />
                  <label for="plastic">Leather</label>
                </div>
                <p style="font-size: 20px">$160.00</p>
              </div>
            </div>

            <div class="buttons">
              <button class="button">
                <p>ADD TO CHART</p>
              </button>
              <button class="button">
                <p>BUY IT NOW</p>
              </button>
              <button class="button">
                <p>ADD TO WISHLIST</p>
              </button>
            </div>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="judul-section2">
          <h3 style="color: #671E81;">Description</h3>
          <h3>Reviews</h3>
          <h3>Shipping Details</h3>
        </div>

        <div class="garis2">

        </div>

        <p style="margin-top: 40px;">Running shoes are designed to protect your feet from the road, provided traction on different surfaces, cushion the landing shock and support your feet. ... Running shoes are designed to handle the shock of 2.5 times your body weight that is created by the impact each time your foot strikes the ground.</p>
      </section>
      <!-- Akhir Konten -->

      <!-- footer -->
      <footer>
        <div class="logo">
          <img src="../../img/logo.jpg" alt="logo" />
        </div>
        <div class="copy">Copyright &copy 2021 by Octavianus Fian</div>
        <div class="sosmed">
          <a href="#">
            <img src="../../img/Group 9.png" alt="" />
          </a>
          <a href="#">
            <img src="../../img/Group 10.png" alt="" />
          </a>
          <a href="#">
            <img src="../../img/Group 11.png" alt="" />
          </a>
          <a href="#">
            <img src="../../img/Group 12.png" alt="" />
          </a>
        </div>
      </footer>
    </div>
  </body>
</html>
