body {
  margin: 0 40px;
}

.container {
  display: grid;
}

header {
  margin: 20px 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo img {
  width: 100px;
  height: 100px;
}

.nav ul {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 25px;
  justify-items: center;
  align-items: center;
}

.nav ul a {
  text-decoration: none;
  color: black;
}

.links {
  display: grid;
  width: 100%;
  height: 150px;
  background-color: #f4f4f4;
  justify-content: center;
  align-content: center;
}

.links h1 {
  font-size: 25px;
  /* align-content: flex-end; */
}

.link {
  margin-left: -20px;
}

.link a {
  text-decoration: none;
}

.section {
  margin: 50px 40px;
}

.konten1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fotoUtama {
  width: 620px;
  height: 620px;
  border: 1px solid #dbc4c4;
}

.detail {
  padding-left: 10px;
}

.rate {
  margin: 30px 0;
}

.order {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title h4 {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

.title2 h4 {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.value p {
  font-size: 14px;
  line-height: 20px;
}

.garis {
  width: 565px;
  border: 1px solid #c8bcbc;
  transform: rotate(-0.1deg);
  margin: 30px 0;
}

input[type="radio"] {
  display: none;
}

label {
  font-size: 18px;
  padding: 7px 13px;
  margin-right: 18px;
  border: 2px solid #c4c4c4;
}

input[type="radio"]:checked + label {
  font-size: 18px;
  padding: 7px 13px;
  margin-right: 18px;
  background-color: aqua;
  border: 2px solid #c4c4c4;
}

.radio {
  margin-top: 12px;
}

.kotak-warna {
  width: 25px;
  height: 25px;

  background: #083abb;
  border: 1px solid #c4c4c4;
  margin-top: 28px;
}

.material {
  margin-top: 25px;
  margin-bottom: 80px;
}

.material input[type="radio"] {
  display: none;
}

.material label {
  font-size: 18px;
  padding: 5px 9px;
  margin-right: 18px;
  border: 2px solid #c4c4c4;
  text-transform: uppercase;
}

.buttons {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  column-gap: 17px;
}

.button {
  width: 138px;
  height: 44px;

  background: #671e81;
}

.button p {
  font-size: 13px;
  color: #ffffff;
}

.judul-section2 {
  display: grid;
  grid-template-columns: 12% 12% 12%;
}

.judul-section2 p {
  font-size: 24px;
  line-height: 30px;
  /* identical to box height */
  margin-right: 60px;
  color: #000000;
}

.garis2 {
  
  width: 1241px;
  height: 0px;

  border: 1px solid #c8bcbc;
}

footer {
  margin-top: 50px;
  width: 100%;
  height: 200px;
  background-color: black;
  display: grid;
  grid-template-columns: 200px 350px 300px;
  justify-content: space-between;
  /* justify-items: center; */
  align-items: center;
}

.copy {
  color: white;
  font-size: 20px;
  text-align: center;
}

.sosmed {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 25px;
  /* background-color: whitesmoke; */
}
